.p{
    margin-top: 10px!important;
}
.r{
    margin-top: 35px!important;
    margin-left: -128px !important;
}
.ri{
    margin-top: 72px !important;
    margin-left: -128px !important;
}
.line-height{
    line-height: 5px !important;
}